<ng-container [ngSwitch]="element.type">
    <section *ngSwitchCase="'section'" [ngClass]="element.properties?.className" [attr.placeholder]="element.type">
        <div class="borders">
            <div class="border border1"></div>
            <div class="border border2"></div>
            <div class="border border3"></div>
            <div class="border border4"></div>
        </div>
        <div class="funcBtns">
            <img src="assets/imgs/constructor/move.png" alt="" class="move">
            <img src="assets/imgs/constructor/configuration.png" alt="" class="configurator">
            <img src="assets/imgs/constructor/delete.png" alt="" class="delete">
        </div>
    </section>

    <div *ngSwitchCase="'area'" [ngClass]="element.properties?.className" [attr.placeholder]="element.type">
        <div class="borders">
            <div class="border border1"></div>
            <div class="border border2"></div>
            <div class="border border3"></div>
            <div class="border border4"></div>
        </div>
        <div class="funcBtns">
            <img src="assets/imgs/constructor/move.png" alt="" class="move">
            <img src="assets/imgs/constructor/configuration.png" alt="" class="configurator">
            <img src="assets/imgs/constructor/delete.png" alt="" class="delete">
        </div>
    </div>
    <div *ngSwitchCase="'img'" [ngClass]="element.properties?.className" [attr.placeholder]="element.type">
        <div class="borders">
            <div class="border border1"></div>
            <div class="border border2"></div>
            <div class="border border3"></div>
            <div class="border border4"></div>
        </div>
        <div class="funcBtns">
            <img src="assets/imgs/constructor/move.png" alt="" class="move">
            <img src="assets/imgs/constructor/configuration.png" alt="" class="configurator">
            <img src="assets/imgs/constructor/delete.png" alt="" class="delete">
        </div>
        <img>
    </div>
    <div *ngSwitchCase="'list'" [ngClass]="element.properties?.className" [attr.placeholder]="element.type">
        <div class="borders">
            <div class="border border1"></div>
            <div class="border border2"></div>
            <div class="border border3"></div>
            <div class="border border4"></div>
        </div>
        <div class="funcBtns">
            <img src="assets/imgs/constructor/move.png" alt="" class="move">
            <img src="assets/imgs/constructor/configuration.png" alt="" class="configurator">
            <img src="assets/imgs/constructor/delete.png" alt="" class="delete">
        </div>
        <ul>
        </ul>
    </div>
    <div *ngSwitchCase="'title'" [ngClass]="element.properties?.className" [attr.placeholder]="element.type">
        <div class="borders">
            <div class="border border1"></div>
            <div class="border border2"></div>
            <div class="border border3"></div>
            <div class="border border4"></div>
        </div>
        <div class="funcBtns">
            <img src="assets/imgs/constructor/move.png" alt="" class="move">
            <img src="assets/imgs/constructor/configuration.png" alt="" class="configurator">
            <img src="assets/imgs/constructor/delete.png" alt="" class="delete">
        </div>
        <h1 contenteditable="true"></h1>
    </div>
    <div *ngSwitchCase="'paragraph'" [ngClass]="element.properties?.className" [attr.placeholder]="element.type">
        <div class="borders">
            <div class="border border1"></div>
            <div class="border border2"></div>
            <div class="border border3"></div>
            <div class="border border4"></div>
        </div>
        <div class="funcBtns">
            <img src="assets/imgs/constructor/move.png" alt="" class="move">
            <img src="assets/imgs/constructor/configuration.png" alt="" class="configurator">
            <img src="assets/imgs/constructor/delete.png" alt="" class="delete">
        </div>
        <p contenteditable="true"></p>
    </div>
    <div *ngSwitchCase="'btn'" [ngClass]="element.properties?.className" [attr.placeholder]="element.type">
        <div class="borders">
            <div class="border border1"></div>
            <div class="border border2"></div>
            <div class="border border3"></div>
            <div class="border border4"></div>
        </div>
        <div class="funcBtns">
            <img src="assets/imgs/constructor/move.png" alt="" class="move">
            <img src="assets/imgs/constructor/configuration.png" alt="" class="configurator">
            <img src="assets/imgs/constructor/delete.png" alt="" class="delete">
        </div>
        <a contenteditable="true"></a>
    </div>
    <div *ngSwitchCase="'social-btn'"  [ngClass]="element.properties?.className" [attr.placeholder]="element.type">
        <div class="borders">
            <div class="border border1"></div>
            <div class="border border2"></div>
            <div class="border border3"></div>
            <div class="border border4"></div>
        </div>
        <div class="funcBtns">
            <img src="assets/imgs/constructor/move.png" alt="" class="move">
            <img src="assets/imgs/constructor/configuration.png" alt="" class="configurator">
            <img src="assets/imgs/constructor/delete.png" alt="" class="delete">
        </div>
        <a target="_blank"></a>
    </div>

    <div *ngSwitchDefault>
    </div>
</ng-container>