@import "../../../../styles.scss";
:host{
    flex-grow: 1;
    max-width: 86%;
    height: 95%;
    box-sizing: border-box;
    padding: 35px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    form{
        display: flex;
        width: 50%;
        h2{
            width: fit-content;
        }
    }
    &>div{
        display: flex;
        justify-content: end;
        align-items: start;
    }
    .btn{
        width: 18vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;
        overflow: visible;
        position: relative;
        p{
            width: 100%;
            padding: 10px 40px;
            text-transform: uppercase;
            background-color: $color;
            color: white;
            border-radius: 20px;
            cursor: pointer;
            transition-duration: 0.5s;
            text-align: center;
            margin: 0px;
            border: 3px solid;
            &:hover{
                scale: 1.1;
            }
        }
        #createrPages{
            position: absolute;
            width: 120%;
            display: flex;
            align-items: start;
            overflow: hidden;
            transition-duration: 0.5s;
            transform-origin: top ;
            transform: translate(0%, 110%);
            z-index: 2;
            input{
                height: 100%;
                width: 80%;
                box-sizing: border-box;
                background-color: rgb(51, 51, 51);
                border: 3px solid $color;
                border-right: none;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                outline: none;
                padding-left: 10px;
                box-sizing: border-box;
                color: white;
            }
            button{
                width: 20%;
                height: 100%;
                outline: none;
                border: 3px solid $color;
                border-left: none;
                color: white;
                text-transform: uppercase;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                font-weight: 600;
                transition-duration: 0.5s;
                &:disabled{
                    background-color: $color-opacity;
                    color: rgb(227, 225, 225);
                }
                &:not(:disabled){
                    cursor: pointer;
                }
            }
        }
    }
    .searchField{
        display: flex;
        align-items: center;
        height: 50%;
        margin-left: 20px;
        overflow: hidden;
        flex-grow: 1;
        input{
            position: relative;
            border: none;
            outline: none;
            box-sizing: border-box;
            background-color: rgb(51, 51, 51);
            border: 3px solid $color;
            height: 90%;
            padding: 10px;
            color: white;
            border-radius: 10px;
        }
        img{
            height: 100%;
            margin-left: 10px;
            background-color: $color;
            padding: 5px 20px;
            border-radius: 10px;
            box-sizing: border-box;
            cursor: pointer;
            transition-duration: 0.5s;
            &:hover{
                padding: 5px 30px;
            }
        }
    }
}
section{
    width: 100%;
    height: 85%;
    .pages{
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        overflow: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
        article{
            position: relative;
            width: 23%;
            height: 45%;
            margin: 1%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition-duration: .5s;
            box-shadow:  0px 0px 5px 1px $color-opacity-opacity, inset 0px 0px 5px 1px $color-opacity-opacity;
            a{
                position: absolute;
                width: 100%;
                height: 100%;
                border: 3px solid $color;
                border-radius: 10px;
                overflow: hidden;
                transition-duration: 0.3s;
                background-color: rgb(41,41,41);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                color: $color;
                        text-decoration: none !important;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    object-position: top;
                    border-bottom: 3px solid $color;
                }
                .des{
                    width: 100%;
                    height: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        margin: 0px;
                        text-align: center;
                        text-transform: capitalize;
                        transition-duration: 0.3s;
                        color: $color;
                        text-decoration: none !important;
    
                    }
                }
            }
            &:hover{
                z-index: 2;
                scale: 1.05;
            }
        }
    }
    .pagination{
        width: 100%;
        height: 10%;
    }
}