<app-uploaded-gallery #gallery (setImageInput)="setImage($event)"></app-uploaded-gallery>
<div class="forms">
    <div class="card" >
        <div class="bg" (click)="returnForms()"></div>
        <div class="editor" [class.flipped]="isFlipped">
            <button (click)="returnEditorActiveStyles()" id="styles"></button>
            <button (click)="triggerVideoPreview()" id="preview"></button>
            <header>
                <h2 class="OpacityColor Big"><span class="elementType"></span> editor</h2>
                <p class="flippBtn editorBtn Color Small" (click)="flipCard()">Go to conf.</p>
            </header>
            <div class="body">
                <div class="styles-options">
                    <div class="group" *ngFor="let group of styles">
                        <p class="Color Small" (click)="showStyleGroup(group.optGroupName)" [class.selectedStyle]="checkStyleSelectedGroup(group)">{{group.optGroupName}}</p>
                        <div class="style-tokens" [class.show]="showStyleGroupArray.includes(group.optGroupName)" >
                            <p class="Color Tiny" [class.ColorBackgroundOpacityOpacityOpacity]="selectedStyles.includes(style.value)" [attr.value]="style.value" (click)="selectedStyle(style.value)" [attr.type]="style.type" *ngFor="let style of group.group">{{style.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="styles-changer">
                    <p class="Color">{{ '{' }}</p>
                    <div class="style-changer" *ngFor="let group of styles" [class.show]="checkStyleSelectedGroup(group)">
                        <div *ngFor="let style of group.group" [class.show]="selectedStyles.includes(style.value)">
                            <ng-container [ngSwitch]="style.type">
                                <article *ngSwitchCase="'user-color'" [attr.type]="style.type" [attr.styleName]="style.value">
                                    <p class="label Color Small">{{style.name}}:</p>
                                    <input type="color">
                                    <input type="range" min="0" max="1" step="0.1">
                                </article>
                                <article *ngSwitchCase="'user-size'" [attr.type]="style.type" [attr.styleName]="style.value">
                                    <p class="label Color Small">{{style.name}}:</p>
                                    <input type="number" value="0">
                                    <select>
                                        <option value="px" selected>px</option>
                                        <option value="%">%</option>
                                        <option value="vw">vw</option>
                                        <option value="vh">vh</option>
                                        <option value="em">em</option>
                                    </select>
                                </article>
                                <article *ngSwitchCase="'user-select'" [attr.type]="style.type" [attr.styleName]="style.value">
                                    <p class="label Color Small">{{style.name}}:</p>
                                    <select>
                                        <option value="{{value}}" *ngFor="let value of style.values">{{value}}</option>
                                    </select>
                                </article>
                                <article *ngSwitchCase="'user-text'" [attr.type]="style.type" [attr.styleName]="style.value">
                                    <p class="label Color Small">{{style.name}}:</p>
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                </article>
                                <article *ngSwitchCase="'user-numb'" [attr.type]="style.type" [attr.styleName]="style.value">
                                    <p class="label Color Small">{{style.name}}:</p>
                                    <input type="number" value="0">
                                </article>
                            </ng-container>
                        </div>
                    </div>
                    <p class="Color">{{ '}' }}</p>
                </div>
                <p id="selectStyles">update</p>
            </div>
        </div>
        <div class="configurator" [class.flipped]="!isFlipped">
            <header>
                <h2 class="OpacityColor Big"><span class="elementType"></span> configurator</h2>
                <p class="flippBtn Color Small" (click)="flipCard()">Go to editor</p>
            </header>
            <div class="body">
                <div class="conf conf-img">
                    <p class="Color Small" *ngIf="galleryLength > 0" (click)="galleryMenuClick(true)">select image</p>
                    <div>
                        <p class="Color Small" (click)="file.click()">uploade image</p>
                        <input #file type="file" (change)="sendImage($event)" (click)="galleryMenuClick(false)">
                    </div>
                    <textarea class="Small" placeholder="Select image URL" (input)="setImageUrl($event)"></textarea>
                </div>
                <div class="conf conf-list">
                    <input type="number" id="countItem" (change)="setListChildren($event)" value="0" placeholder="Set count list child" min="0">
                </div>
                <div class="conf conf-title">
                    <select (change)="changeTitle($event)">
                        <option value="h1">h1</option>
                        <option value="h2">h2</option>
                        <option value="h3">h3</option>
                        <option value="h4">h4</option>
                        <option value="h5">h5</option>
                        <option value="h6">h6</option>
                    </select>
                </div>
                <div class="conf conf-btn">
                    <p class="Small Color BorderColor" *ngFor="let item of pages" (click)="changeBtnSrc(item)">{{item}}</p>
                </div>
                <div class="conf conf-social-btn">
                    <img src="./assets/imgs/constructor/social/facebook.png" alt="" (click)="changeSocialBtn('./assets/imgs/constructor/social/facebook.png', profilesLinks.facebook_link)">
                    <img src="./assets/imgs/constructor/social/instagram.png" alt="" (click)="changeSocialBtn('./assets/imgs/constructor/social/instagram.png', profilesLinks.instagramm_link)">
                    <img src="./assets/imgs/constructor/social/github.png" alt="" (click)="changeSocialBtn('./assets/imgs/constructor/social/github.png', profilesLinks.github_link)">
                    <img src="./assets/imgs/constructor/social/itchio.png" alt="" (click)="changeSocialBtn('./assets/imgs/constructor/social/itchio.png', profilesLinks.itchio_link)">
                    <img src="./assets/imgs/constructor/social/google.png" alt="" (click)="changeSocialBtn('./assets/imgs/constructor/social/google.png', profilesLinks.google_link)">
                </div>
                <div class="conf conf-download-btn">
                    <p class="Small color BorderColor" *ngFor="let item of archivesFiles" (click)="changeDownloadBtn(item.path)">{{item.aliasName}}</p>
                </div>
                <div class="conf conf-video">
                    <p class="Color Small" *ngIf="galleryLength > 0" (click)="galleryMenuClick(true)">select video preview</p>
                    <div class="videos">
                        <p class="Small color BorderColor" *ngFor="let item of videosFiles" (click)="setVideoSrc(item.path)">{{item.aliasName}}</p>
                    </div>
                </div>
                <div class="conf conf-swipers">
                    <p class="Small color BorderColor" *ngFor="let item of subFoldersFiles" (click)="setSlides(item.files)">{{item.name.split("-").pop()}}</p>
                </div>
            </div>
        </div>
    </div>
</div>