.galleryItem{
    width: 100%;
    height: 13vw;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover{
        background-color: rgba(255, 255, 255, 0.11);
        filter: brightness(1.5);
    }
}