
@import "../../../styles.scss";
.square{
    width: calc($size-index * 0.8);
    height: calc($size-index * 0.8);
    background-color: $color-hover;
    margin: 12px;
    float: left;
    box-shadow: -5px 5px 5px 2px rgba(0, 0, 0, 0.334);
    border: 1px solid black;
    .bg{
        width: 100%;
        height: 100%;
        background-color: black;
    }
}