.square{
    width: 14px;
    height: 14px;
    background-color: rgb(195, 159, 231);
    margin: 12px;
    float: left;
    box-shadow: -5px 5px 5px 2px rgba(0, 0, 0, 0.334);
    border: 1px solid black;
    .bg{
        width: 100%;
        height: 100%;
        background-color: black;
    }
}