<div class="window uploadedGallery" [ngStyle]="{ 'opacity': showGallery? 1: 0, 'pointer-events': showGallery? 'all':''}">
    <div class="bg" (click)="toggleAside(false)"></div>
    <div #imagesDiv class="images">
        <div *ngIf="images.length == 0" class="empty" placeholder="you don't have images"></div>
        <div class="img-card" *ngFor="let src of images">
            <div class="back-img" [ngStyle]="{'background-image':'url('+src+')'}"></div>
            <img  [src]="src" alt="" (click)="setImage(src)" (click)="toggleAside(false)">
        </div>
    </div>
    <button (click)="toggleAside(true)" id="toggleGallery">hide menu</button>
</div>
