<aside class="uploadedGallery">
    <button (click)="toggleAside(true)" id="toggleGallery">hide menu</button>
    <div #imagesDiv class="images"[ngStyle]="{ 'right': flipped? '-20vw': '0px' }" (scroll)="onScroll($event)">
        <div *ngIf="images.length == 0" class="empty" placeholder="you don't have images"></div>
        <app-gallery-item *ngFor="let src of images" [src]="src" (toggleAsideEvent)="setImage($event)" (toggleAsideEvent)="toggleAside(true)"></app-gallery-item>
    </div>
</aside>
