<app-edit-config-forms></app-edit-config-forms>

<div class="constructor">
    <h2>Constructor - {{name}}</h2>
    <div class="constructorMain">
        <div class="clone-container" id="clone-container"></div>
        <main class="element header" dropzone="true" placeholder="main"></main>
    </div>
</div>

<div class="constructorAside">
    <div class="constructorAsideBtn">
        <p (click)="updateImage()">UpadePage</p>
    </div>
    <div class="elements">
        <app-constructor-element *ngFor="let elementConf of constructorElements" [element]="elementConf"></app-constructor-element>
    </div>
</div>
