@import "../../../../styles.scss";
:host {
    position: relative;
    flex-grow: 1;
    max-width: 86%;
    height: calc(100vh - $size-index * 4.5);
    box-sizing: border-box;
    padding-left: 35px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}
