<div class="welcome">
    <div class="squares">
        <app-square *ngFor="let item of squaresItems" [itemStep]="item"></app-square>
        <div class="back-img-block" id="blocki1">
            <img src="assets/imgs/startPage/1.png" alt="">
            <p></p>
        </div>
        <div class="back-img-block" id="blocki2">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="back-img-block" id="blocki3">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="back-img-block" id="blocki4">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="back-img-block" id="blocki5">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="back-img-block" id="blocki6">
            <img src="" alt="">
            <p></p>
        </div>
    </div>
    <h2 class="BackgroundColor">Create something new here!</h2>
    <div  id="welcome-block" >
        <div class="BackgroundColor" id="welcome-text">
            <p  id="welcome-text"><span></span>Let's make this day special by starting something amazing! In your CMS, you'll find all the tools to bring your creative ideas to life.<span></span></p>
        </div>
        <div class="BackgroundColor" id="startBlock">
            <a class="BorderColor" id="start" [routerLink]="[ 'login' ]"><p class="Small">Get started!</p></a>
            <label class="Small Color" for="start"><p>Login to your account!</p></label>
        </div>
    </div>
</div>