<div class="welcome">
    <div class="squares">
        <app-square *ngFor="let item of squaresItems" [itemStep]="item"></app-square>
        <div class="back-img-block" id="blocki1">
            <img src="assets/imgs/startPage/1.png" alt="">
            <p></p>
        </div>
        <div class="back-img-block" id="blocki2">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="back-img-block" id="blocki3">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="back-img-block" id="blocki4">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="back-img-block" id="blocki5">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="back-img-block" id="blocki6">
            <img src="" alt="">
            <p></p>
        </div>
    </div>
    <h2>Create something new here!</h2>
    <div id="welcome-block">
        <p id="welcome-text"><span></span>Some brief description. Some brief description. Some briefdescription.Somebriefdescription.<span></span></p>
        <div id="startBlock">
            <button id="start"><p>Get started!</p></button>
            <label for="start"><p>Login to your account!</p></label>
        </div>
    </div>
</div>